xsd/kresmer-library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:v-bind="v-bind" xmlns:Kre="Kre">
    <xs:import namespace="v-bind" schemaLocation="v-bind.xsd"/>
    <xs:import namespace="Kre" schemaLocation="Kre.xsd"/>

    <xs:attributeGroup name="general-attrs">
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute ref="v-bind:name"/>
        <xs:attribute name="id" type="xs:string" />
        <xs:attribute ref="v-bind:id"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="origin-attrs">
        <xs:attribute name="x" type="xs:decimal"/>
        <xs:attribute ref="v-bind:x"/>
        <xs:attribute name="y" type="xs:decimal"/>
        <xs:attribute ref="v-bind:y"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="presentation-attrs">
        <xs:attribute name="stroke" type="xs:string" />
        <xs:attribute ref="v-bind:stroke"/>
        <xs:attribute ref="v-bind:stroke-width" />
        <xs:attribute name="stroke-width" />
        <xs:attribute name="stroke-opacity" type="xs:decimal" />
        <xs:attribute ref="v-bind:stroke-opacity" />
        <xs:attribute name="fill" type="xs:string"/>
        <xs:attribute ref="v-bind:fill" />
        <xs:attribute name="filter" type="xs:string"/>
        <xs:attribute ref="v-bind:filter" />
        <xs:attribute name="class" type="xs:string"/>
        <xs:attribute ref="v-bind:class" />
    </xs:attributeGroup>

    <xs:attributeGroup name="transform-attrs">
        <xs:attribute name="transform" />
        <xs:attribute ref="v-bind:transform"/>
        <xs:attribute name="transform-origin" />
        <xs:attribute ref="v-bind:transform-origin"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="dim-attrs">
        <xs:attribute name="width"  />
        <xs:attribute ref="v-bind:width"  />
        <xs:attribute name="height" />
        <xs:attribute ref="v-bind:height" />
    </xs:attributeGroup>

    <xs:attributeGroup name="point-attrs">
        <xs:attribute name="points"></xs:attribute>
        <xs:attribute ref="v-bind:points" />
    </xs:attributeGroup>

    <xs:attributeGroup name="text-attrs">
        <xs:attribute name="font-size" />
        <xs:attribute ref="v-bind:font-size" />
        <xs:attribute name="font-family" />
        <xs:attribute ref="v-bind:font-family" />
        <xs:attribute name="text-anchor" />
        <xs:attribute ref="v-bind:text-anchor" />
    </xs:attributeGroup>

    <xs:attributeGroup name="vue-directives">
        <xs:attribute name="v-for"/>
        <xs:attribute name="v-if"/>
        <xs:attribute name="v-else"/>
    </xs:attributeGroup>

    <xs:group name="template-content">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded">

                <xs:element name="rect" minOccurs="0">
                    <xs:complexType>
                        <xs:attributeGroup ref="general-attrs"/>
                        <xs:attributeGroup ref="origin-attrs"/>
                        <xs:attributeGroup ref="dim-attrs"/>
                        <xs:attributeGroup ref="presentation-attrs"/>
                        <xs:attributeGroup ref="transform-attrs"/>
                        <xs:attributeGroup ref="vue-directives"/>
                        <xs:attribute name="vector-effect"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="polyline" minOccurs="0">
                    <xs:complexType>
                        <xs:attributeGroup ref="general-attrs"/>
                        <xs:attributeGroup ref="point-attrs"/>
                        <xs:attributeGroup ref="presentation-attrs"/>
                        <xs:attributeGroup ref="vue-directives"/>
                        <xs:attribute name="vector-effect"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="text" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="slot" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="general-attrs"/>
                        <xs:attributeGroup ref="origin-attrs"/>
                        <xs:attributeGroup ref="presentation-attrs"/>
                        <xs:attributeGroup ref="text-attrs"/>
                        <xs:attributeGroup ref="vue-directives"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="use" minOccurs="0">
                    <xs:complexType>
                        <xs:attributeGroup ref="general-attrs"/>
                        <xs:attributeGroup ref="origin-attrs"/>
                        <xs:attributeGroup ref="dim-attrs"/>
                        <xs:attributeGroup ref="presentation-attrs"/>
                        <xs:attributeGroup ref="vue-directives"/>
                        <xs:attribute name="vector-effect"/>
                        <xs:attribute name="href"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="connection-point" minOccurs="0">
                    <xs:complexType>
                        <xs:attributeGroup ref="general-attrs"/>
                        <xs:attributeGroup ref="origin-attrs"/>
                        <xs:attribute name="d" type="xs:decimal" />
                        <xs:attribute ref="v-bind:d" />
                        <xs:attribute name="dir" type="xs:decimal" />
                        <xs:attribute ref="v-bind:dir" />
                        <xs:attributeGroup ref="presentation-attrs"/>
                        <xs:attributeGroup ref="vue-directives"/>
                        <xs:attribute name="vector-effect"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="g">
                    <xs:complexType>
                        <xs:group ref="template-content"></xs:group>
                        <xs:attributeGroup ref="general-attrs"/>
                        <xs:attributeGroup ref="transform-attrs"/>
                        <xs:attributeGroup ref="vue-directives"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="filter">
                    <xs:complexType>
                        <xs:choice>
                            <xs:any processContents="lax"></xs:any>
                        </xs:choice>
                        <xs:attributeGroup ref="general-attrs"/>
                    </xs:complexType>
                </xs:element>

                <xs:any namespace="Kre" processContents="skip"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:element name="kresmer-library">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="defs" minOccurs="0">
                    <xs:complexType>
                        <xs:group ref="template-content"></xs:group>
                    </xs:complexType>
                </xs:element>

                <xs:element name="component-class" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="template">
                                <xs:complexType mixed="true">
                                    <xs:group ref="template-content"></xs:group>
                                </xs:complexType>
                            </xs:element>
    
                            <xs:element name="props" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="prop" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="name" use="required" />
                                                <xs:attribute name="type" use="required" />
                                                <xs:attribute name="required" type="xs:boolean" />
                                                <xs:attribute name="default" />
                                                <xs:attribute name="choices" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
    
                            <xs:element name="computed-props" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="computed-prop" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="name" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="defs" minOccurs="0">
                                <xs:complexType>
                                    <xs:group ref="template-content"></xs:group>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="style" minOccurs="0">
                                <![CDATA[ ]]>
                            </xs:element>
                        </xs:all>
                        <xs:attribute name="name" use="required" />
                        <xs:attribute name="instanciate" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>